/* ==UserStyle==
@name           TintGPT: Colorful ChatGPT Convos
@version        1.0.0
@author         m1kethai
@description    Classy colorization of ChatGPT conversations
@namespace      https://github.com/m1kethai/UserStyles/TintGPT
@preprocessor   less
@var select     tintColor "Tint Color" {
	"Aged Sage": "#8da572",
	"Akira": "#840000",
	"Amaretto": "#ab6f60",
	"Ancient Gold": "#b59410",
	"Antique Teal": "#5e7d7e",
	"Aztek": "#293432",
	"Berry Blitz": "#8d3b5e",
	"Black Pearl": "#1e272c",
	"Black Sabbath": "#220022",,
	"Blue Moss": "#5D737E"
	"Cardamom": "#aaaa77",
	"Caviar": "#292a2d",
	"Chai Lat"
	"Coral Clown": "#ff6f5a",
	"Cyber Grape": "#58427C",
	"Cyprus": "#545a3e",
	"Deep Jungle": "#1A2421",
	"Deep Space": "#2D3142",
	"Desert Taupe": "#8e7d6f",
	"Dusty Lavender": "#8d7e9c",
	"Dusty Turquoise": "#5a8a89",
	"Earl Grey": "#a6978a",
	"Earthy Ochre": "#b68e4f",
	"Emerald": "#0f380f",
	"Enigmatic Eggplant": "#5b3256",
	"FF06B5": "#FF06B5",
	"Fig Newton": "#ffbf7f",
	"Gameboy Teal": "#0ABFBC",
	"Ghost In The Shell": "#ff7f7f",
	"Goofy Grapefruit": "#ff7b9c",
	"Japanese Violet": "#5B3256",
	"Kimchi": "#c41230",
	"Lemon Lizard": "#c2c74e",
	"Lime Lunatic": "#7aff6f",
	"Limoncello": "#e6ff6f",
	"Marisch": "#c41230",
	"Midnight Mischief": "#2c3a4a",
	"Mustard Mumble": "#bca75c",
	"Muted Mint": "#7f9c8d",
	"Obsidian Ash": "#343434",
	"Old Gold": "#a68e4f",
	"Olive Octopus": "#6e7d3b",
	"Peachy Punch": "#e68a5c",
	"Playful Plum": "#8d3b5e",
	"Plum Pizzazz": "#7d3d6e",
	"Purple Haze": "#807396",
	"Quirky Quince": "#bca75c",
	"Raichu": "#fc8c2c",
	"Red Velvet": "#7b0d1e",
	"Rustic Amber": "#a56a3d",
	"Sakura Bloom": "#ff7b9c",
	"Sharp Indigo": "#48007c",
	"Sour Plum": "#6c2c5a",
	"SugarPlum": "#ff7fff",
	"Super Blue Lavender": "#5a5b9f",
	"Teal Tornado": "#2c7a7a",
	"Tokyo Midnight": "#1a1a2e",
	"Vintage Mint": "#8da58d",
	"Vintage Rose": "#a68b8e",
	"Whispering Willow": "#7f9c8d",
	"Zesty Zucchini": "#6e7d3b",
}

==/UserStyle== */
@-moz-document domain("chat.openai.com") {

	/* ===== Main Message Element ===== */
	div.w-full {

		/* ===== Colorize Mixin ===== */
		.colorize(@darker: false) {
			@defaultBg: if(@darker,
				rgb(52, 53, 65),
				rgb(68, 70, 84)
			);
			@customBg: if(@darker,
				shade(
					mix(@defaultBg, @tintColor, 70%),
					30%
				),
				desaturate(
					darken(
						shade(
							mix(@defaultBg, @tintColor, 45%),
							10%
						), 0%,
					), 10%
				)
			);
			background-color: @customBg !important;
			background-image: linear-gradient(180deg,rgba(53,55,64,0), @customBg 58.85%) !important;
		}

		.dark {
			/* ===== User Messages ===== */
			&\:bg-gray-700:not(input[type="checkbox"]),
			&\:bg-gray-800:not(&\:md\:bg-vert-dark-gradient) {
				.colorize(@darker: true);
			}

			/* ===== ChatGPT Messages ===== */
			.w-full.text-token-text-primary:nth-child(2n) {
				.colorize;
			}
		}
	}

	/* ===== Sidebar Toggle ===== */
	.bg-black.rounded-md {
		max-width: 98%;
		@tintColor: mix(black, @tintColor, 90%);
		background-color: @tintColor !important;
		box-shadow: inset 0 20px 40px 40px lighten(@tintColor, 1%);
	}

	/* ===== Footer/Disclaimer Area ===== */
	&\:md\:bg-vert-dark-gradient {
		@media (min-width: 768px) {
			.colorize();
			> div > span {
				color: lighten(@tintColor, 65%) !important;
			}
		}
	}
}